{% extends 'main.html' %}

{% block head_content %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <title>Add/edit/delete events</title>

    <!-- Mobiscroll JS and CSS Includes -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobiscroll.javascript.min.css') }}">
    <script src={{ url_for("static", filename="js/mobiscroll.javascript.min.js") }}></script>

    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }

        body,
        html {
            height: 100%;
        }

    </style>

{% endblock %}
{% block content %}

    <div mbsc-page class="demo-create-read-update-delete-CRUD">
        <div style="height:100%">
            <div id="demo-add-delete-event"></div>

            <div id="demo-add-popup">
                <div class="mbsc-form-group">
                    <label>
                        Title
                        <input mbsc-input id="event-title">
                    </label>
                    <label>
                        Description
                        <textarea mbsc-textarea id="event-desc"></textarea>
                    </label>
                    <label>
                        Duration
                        <input type="number" mbsc-input id="event-duration"/>
                    </label>

                    <label>
                        Rate
                        <input type="number" mbsc-input min="1" max="5" id="event-rate" required/>
                    </label>

                </div>
                <div class="mbsc-form-group">
                    <label for="start-input">
                        Starts
                        <input mbsc-input id="start-input"/>
                    </label>

                    <div id="event-date"></div>

                    <div class="mbsc-button-group">
                        <button class="mbsc-button-block" id="event-delete" mbsc-button data-color="danger"
                                data-variant="outline">Delete event
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        // get_api_trainings
        mobiscroll.util.http.getJson('http://127.0.0.1:5000/myschedule/get_trainings', function (events) {
            calendar.setEvents(events);
        });


        mobiscroll.setOptions({
            locale: mobiscroll.localeEn,       // Specify language like: locale: mobiscroll.localePl or omit setting to use default
            theme: 'material',                      // Specify theme like: theme: 'ios' or omit setting to use default
            themeVariant: 'dark'              // More info about themeVariant: https://docs.mobiscroll.com/5-3-0/javascript/eventcalendar#opt-themeVariant
        });


        var oldEvent,
            tempEvent = {},
            deleteEvent,
            restoreEvent,
            titleInput = document.getElementById('event-title'),
            descriptionTextarea = document.getElementById('event-desc'),
            durationTextarea = document.getElementById('event-duration'),

            rateTextarea = document.getElementById("event-rate")

        deleteButton = document.getElementById('event-delete'),

            datePickerResponsive = {
                medium: {
                    controls: ['calendar'],

                    touchUi: false
                }
            },
            datetimePickerResponsive = {
                medium: {
                    controls: ['calendar'], // problems with time

                    touchUi: false
                }
            },

            now = new Date(),

            myData = []


        function createAddPopup(elm) {
            // hide delete button inside add popup
            deleteButton.style.display = 'none';

            deleteEvent = true;
            restoreEvent = false;

            // set popup header text and buttons for adding
            popup.setOptions({
                headerText: 'New event',       // More info about headerText: https://docs.mobiscroll.com/5-3-0/javascript/eventcalendar#opt-headerText
                buttons: ['cancel', {          // More info about buttons: https://docs.mobiscroll.com/5-3-0/javascript/eventcalendar#opt-buttons
                    text: 'Add',
                    keyCode: 'enter',
                    handler: function () {
                        calendar.updateEvent({
                            id: tempEvent.id,
                            title: tempEvent.title,
                            description: tempEvent.description,
                            duration: tempEvent.duration,
                            rate: tempEvent.rate,

                            start: tempEvent.start,
                            color: tempEvent.color,
                        });

                        // navigate the calendar to the correct view
                        calendar.navigate(tempEvent.start);

                        deleteEvent = false;
                        send_add_request();  //api to db
                        popup.close();
                    },
                    cssClass: 'mbsc-popup-button-primary'
                }]
            });

            // fill popup with a new event data
            mobiscroll.getInst(titleInput).value = tempEvent.title;
            mobiscroll.getInst(descriptionTextarea).value = 'Text';
            mobiscroll.getInst(durationTextarea).value = '60';
            mobiscroll.getInst(rateTextarea).value = '5';
            range.setOptions({controls: ['date'], responsive: datePickerResponsive});

            // set anchor for the popup
            popup.setOptions({anchor: elm});

            popup.open();
        }

        function send_add_request() {
            var obj = new Object()
            obj.title = tempEvent.title;
            obj.duration = tempEvent.duration;
            obj.rate = tempEvent.rate;
            obj.description = tempEvent.description;
            obj.start = tempEvent.start.toLocaleDateString();

            if (!obj.title) {
                obj.title = "Tittle";
            }
            if (!obj.duration) {
                obj.duration = 60;
            }
            if (!obj.rate) {
                obj.rate = 5;
            }
            if (!obj.description) {
                obj.description = "Description";
            }

            var string = JSON.stringify(obj);
            fetch(`${window.origin}/myschedule/add`, {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(obj),
                cache: "no-cache",
                headers: new Headers({
                    "content-type": "application/json"

                })

            })
        }

        function send_delete_request() {

            var obj = new Object()
            obj.title = tempEvent.title;
            try {
                obj.start = tempEvent.start.toLocaleDateString();
            } catch (e) {
                obj.start = tempEvent.start;
            }
            var string = JSON.stringify(obj);
            fetch(`${window.origin}/myschedule/delete`, {
                method: "DELETE",
                credentials: "include",
                body: JSON.stringify(obj),
                cache: "no-cache",
                headers: new Headers({
                    "content-type": "application/json"

                })

            })
        }

        function send_update_request() {

            var obj = new Object()
            obj.title = tempEvent.title;
            obj.duration = tempEvent.duration;
            obj.rate = tempEvent.rate;
            obj.description = tempEvent.description;
            try {
                obj.start = tempEvent.start.toLocaleDateString();
            } catch (e) {
                obj.start = tempEvent.start;
            }
            if (!obj.title) {
                obj.title = "Tittle";
            }
            if (!obj.duration) {
                obj.duration = 60;
            }
            if (!obj.rate) {
                obj.rate = 5;
            }
            if (!obj.description) {
                obj.description = "Description";
            }

            var string = JSON.stringify(obj);

            fetch(`${window.origin}/myschedule/update`, {
                method: "PUT",
                credentials: "include",
                body: JSON.stringify(obj),
                cache: "no-cache",
                headers: new Headers({
                    "content-type": "application/json"

                })

            })
        }


        function createEditPopup(args) {
            var ev = args.event;


            // show delete button inside edit popup
            deleteButton.style.display = 'block';

            deleteEvent = false;
            restoreEvent = true;

            // set popup header text and buttons for editing
            popup.setOptions({
                headerText: 'Edit event',      // More info about headerText: https://docs.mobiscroll.com/5-3-0/javascript/eventcalendar#opt-headerText
                buttons: ['cancel', {          // More info about buttons: https://docs.mobiscroll.com/5-3-0/javascript/eventcalendar#opt-buttons
                    text: 'Save',
                    keyCode: 'enter',
                    handler: function () {
                        var date = range.getVal();
                        // update event with the new properties on save button click

                        calendar.updateEvent({
                            id: ev.id,
                            title: titleInput.value,
                            description: descriptionTextarea.value,
                            duration: durationTextarea.value,
                            rate: rateTextarea.value,
                            start: date[0],
                            color: ev.color,
                        });

                        // navigate the calendar to the correct view
                        calendar.navigate(date[0]);
                        send_update_request()
                        restoreEvent = false;
                        popup.close();
                    },
                    cssClass: 'mbsc-popup-button-primary'
                }]
            });

            // fill popup with the selected event data
            mobiscroll.getInst(titleInput).value = ev.title || '';
            mobiscroll.getInst(descriptionTextarea).value = ev.description || "Description";
            mobiscroll.getInst(durationTextarea).value = ev.duration || '60';
            mobiscroll.getInst(rateTextarea).value = ev.rate || '5';
            range.setVal([ev.start, ev.end]);


            // change range settings based on the allDay
            range.setOptions({
                responsive: ev.allDay ? datePickerResponsive : datetimePickerResponsive
            });

            // set anchor for the popup
            popup.setOptions({anchor: args.domEvent.currentTarget});
            popup.open();
        }

        var calendar = mobiscroll.eventcalendar('#demo-add-delete-event', {
                clickToCreate: 'double',           // More info about clickToCreate: https://docs.mobiscroll.com/5-3-0/javascript/eventcalendar#opt-clickToCreate
                dragToCreate: true,                // More info about dragToCreate: https://docs.mobiscroll.com/5-3-0/javascript/eventcalendar#opt-dragToCreate
                dragToMove: true,                  // More info about dragToMove: https://docs.mobiscroll.com/5-3-0/javascript/eventcalendar#opt-dragToMove
                dragToResize: true,                // More info about dragToResize: https://docs.mobiscroll.com/5-3-0/javascript/eventcalendar#opt-dragToResize
                view: {                            // More info about view: https://docs.mobiscroll.com/5-3-0/javascript/eventcalendar#opt-view
                    calendar: {labels: true}
                },
                data: myData,                      // More info about data: https://docs.mobiscroll.com/5-3-0/javascript/eventcalendar#opt-data
                onEventClick: function (args) {    // More info about onEventClick: https://docs.mobiscroll.com/5-3-0/javascript/eventcalendar#event-onEventClick
                    oldEvent = {...args.event};
                    tempEvent = args.event;

                    if (!popup.isVisible()) {
                        createEditPopup(args);
                    }
                },
                onEventCreated: function (args) {  // More info about onEventCreated: https://docs.mobiscroll.com/5-3-0/javascript/eventcalendar#event-onEventCreated
                    popup.close();
                    // store temporary event
                    tempEvent = args.event;
                    createAddPopup(args.target);
                },
                onEventDeleted: function () {      // More info about onEventDeleted: https://docs.mobiscroll.com/5-3-0/javascript/eventcalendar#event-onEventDeleted
                    mobiscroll.snackbar({
                        button: {
                            action: function () {
                                calendar.addEvent(args.event);
                            },
                            text: 'Undo'
                        },
                        message: 'Event deleted'
                    });
                }
            }
            )
        ;

        var popup = mobiscroll.popup('#demo-add-popup', {
            display: 'bottom',                 // Specify display mode like: display: 'bottom' or omit setting to use default
            contentPadding: false,
            fullScreen: true,
            onClose: function () {             // More info about onClose: https://docs.mobiscroll.com/5-3-0/javascript/eventcalendar#event-onClose
                if (deleteEvent) {
                    calendar.removeEvent(tempEvent);
                } else if (restoreEvent) {

                    calendar.updateEvent(oldEvent);
                }
            },
            responsive: {                      // More info about responsive: https://docs.mobiscroll.com/5-3-0/javascript/eventcalendar#opt-responsive
                medium: {
                    display: 'bubble',         // Specify display mode like: display: 'bottom' or omit setting to use default
                    width: 400,                // More info about width: https://docs.mobiscroll.com/5-3-0/javascript/eventcalendar#opt-width
                    fullScreen: false,
                    touchUi: false
                }
            }
        });

        titleInput.addEventListener('input', function (ev) {
            // update current event's title
            tempEvent.title = ev.target.value;
        });

        descriptionTextarea.addEventListener('change', function (ev) {
            // update current event's title
            tempEvent.description = ev.target.value;
        });

        durationTextarea.addEventListener('change', function (ev) {
            tempEvent.duration = ev.target.value;
        });


        rateTextarea.addEventListener('change', function (ev) {
            tempEvent.rate = ev.target.value;
        });


        var range = mobiscroll.datepicker('#event-date', {
            controls: ['date'],
            select: 'range',
            startInput: '#start-input',
            endInput: '#end-input',
            showRangeLabels: false,
            touchUi: true,
            responsive: datePickerResponsive,  // More info about responsive: https://docs.mobiscroll.com/5-3-0/javascript/eventcalendar#opt-responsive
            onChange: function (args) {
                var date = args.value;
                date[0] = date[0].toLocaleDateString();
                // update event's start date
                tempEvent.start = date[0];

            }
        });

        document.querySelectorAll('input[name=event-status]').forEach(function (elm) {
            elm.addEventListener('change', function () {
                // update current event's free property
                send_update_request();

            });
        });

        deleteButton.addEventListener('click', function () {
            // delete current event on button click
            send_delete_request();
            calendar.removeEvent(oldEvent);
            popup.close();

            // save a local reference to the deleted event
            var deletedEvent = tempEvent;

            mobiscroll.snackbar({
                button: {
                    action: function () {

                        calendar.addEvent(deletedEvent);


                    },
                    text: 'Undo'
                },
                message: 'Event deleted',

            });
        });

    </script>

{% endblock %}
