{% extends "main.html" %}
{% block title %} My schedule {% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.js"></script>
    <div id="calendar"></div>
    <script>
        let calendarEl = document.getElementById("calendar");
        let calendar = new FullCalendar.Calendar
        (calendarEl, {
            events :[
                {%  for event in events %}
                {
                    title : "{{event.duration}}",
                    start : "{{event.date}}",

                },
                {% endfor %}

            ]


        });
        calendar.render();
    </script>
    <h1> Add workout </h1>

        <form action="#" method="POST">
        <p>Name </p> <input type="text" name="name" />
        <p>Date </p> <input type="text" name="date" />
        <p>Duration</p> <input type="number" name="duration" >
        <p>Note</p> <input type="text" name="note" >
            <p>Rating</p> <input type="number" name="rate" >
        <input type="submit" value="submit" />


    </form>
{% endblock %}
